body{
    color: black;
}
#font{
    color:black ;
    text-align: center;
}
img{
    height: 400px;
    width: 500px;
}
#fonm{
    margin-right: 20px;
}
#fonr{
    margin-right: 20px;
}
fonj{
    margin-right: 20px;
}
#form{
    font-size: 20px;
}
#kill{

    margin-left:20px;
}
body{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#sug{
    width: 100%;
    height: 261px;
}