#what{
    color: red;
    font-size: 100px;

}
img{
    height:400px ;
    width: 400px;
    border-radius: 200px;
}
#kilo{
    margin-right: 20px;
}
.kill{
    margin-right: 20px;
}
.kilo{
    margin-right: 20px;
}
.jew{
    margin-right: 20px;
}