#what{
    color: red;
    font-size: 100px;
}
#kilo{
    margin-right: 20px;
}
.kill{
    margin-right: 20px;
}
.kilo{
    margin-right: 20px;
}
.jew{
    margin-right: 20px;
}
body{
    background-color: gray;
}
img{
    height: 400px;
    width: 400px;
    border-radius: 200px;
    margin-right: 200px;
}